

header {
    height: 100px;
    background-color: #5f5f5f; 
    max-width:100% ;
}
 nav *  {
   
    float: left;
    margin-top: 1%;
    display: inline;
    margin-left: 10%;
}

nav > p {
    margin-top: 3%;
}


section > img {

     float: left;
    width: 40%; 
    padding-left: 30px;
    margin-left: 300px;
    
}
section > div {
    float:right;
    margin-right: 380px;
    width: 10%; 
    padding-left: 100px;
    margin-left:70px;
    
}


 button:hover {
    background: rgb(245, 94, 132);
}



span > img {
    margin-top: 1%;
    margin-left: 184px;
    margin-left: 300px;
}

span > p {
    display: inline;
    margin-left: 10px;
    
  
}

 
 
